@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

.svg-icon {
  width: 30px;
  height: 30px;
}
.svg-icon path {
  fill: rgb(31 41 55);
  --tw-text-opacity: 1;
}

.grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.form-padding {
  padding: 3% 7% 5% 7%;
}
